html
{
  background-color: red;
  margin-top: 0px;
}
body
{
  background-color: blue;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;

}
hgroup
{
  background-color: yellow;
  margin: 30px;
}
