body{
  margin-left: 2em;
  margin-right: 2em;
}
header{
  background-color: #000080;
  height: 5em;
  display: flex;
  align-items: center;
  padding-left: 2em;
  margin-bottom: 1em;
}
h1
{
  color: white;
  font-size: 1.5em;


}
nav
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 8em;
  padding-right: 8em;
  height: 3em;
  background-color: #000080;

}
a
{
  color: white;
  margin-left: 1em;
  margin-right: 1em;
  text-decoration: none;

}
a:hover
{
  color: red;
}
header a
{
  font-weight: bolder;
  font-size: 1.2em;
  position: absolute;
  right: 3em;
}
article
{


  position: absolute;
  left:2em;
  top:10em;
  background-color: #F5F5F5;
  padding-left: 2em;
  width: 65em;
  height: 70em;


}
aside
{
  position: absolute;
  right: 2em;
  top: 10em;


  width: 15em;
  height: auto;;
}
footer
{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 5em;
  position: absolute;
  top: 82em;
  width: 84em;
  background-color: #000080;
}

section
{
  display: flex;

}
img
{
  position: absolute;
  right: 2em;
  top: 2em;
}
h2
{
  position: absolute;
  left: 0em;
  top: 0em;
  font-size: 2em;
  font-weight: bold;
  font-family: sans-serif;
}
div.aboutme
{
  position: absolute;
  top: 0em;
  width: inherit;
  height: auto;
  font-size: 1.5em;
  font-style: oblique;

}
div.education
{
  position: absolute;
  top: 18em;
  width: inherit;
  height: auto;
}
div.Skills{
  position: absolute;
  top: 36em;
  width: inherit;
  height: auto;
}
p
{
  position: absolute;
  top:4em;
  width: 30em;
}
table{
  position: absolute;
  top: 4em;
}
td,th
{
  padding-bottom: 1em;
  padding-top: 1em;
  padding-left: 3em;
  padding-right: 3em;
  text-align: center;


}
table, th, td {
  border-bottom: 1px solid black;
  border-collapse: collapse;
}
.list1
{
  position: absolute;
  left: 1em;
  top: 4em;
  padding-left: 0em;
}
ul li
{
  font-size: 1.2em;
  font-family: sans-serif;
  font-weight: bold;
  padding-top: 0.3em;
}
ul li ul li
{
  font-weight: normal;
  padding-top: 0.3em;
  font-size: 1em;
}
h3
{
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  color: white;
  background-color: #000080;
  text-align: center;
  font-size: 2em;
  font-weight: bold;

}
.list2 li
{
  padding-top: 1em;
  padding-bottom: 1em;
}
.list2
{
  list-style-type: none;
  margin-top: 0em;
  margin-bottom: 0em;
  background-color: #F5F5F5;
}
footer p
{
  position: relative;
  width: auto;
  top:0em;
  color: white;
  font-size: 1em;
  font-weight: bold;
  margin-right: 2em;
  margin-left: 2em;

}
